.cta {
  display: flex;
  gap: 1rem;
}
.cta > .accent,
.cta > .flat,
.cta > .raised,
.cta > .plain,
.cta > .transparent {
  padding: 0.7rem 2rem;
  border-radius: 0.3rem;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}
.cta > .accent {
  color: var(--background);
  text-decoration: none;
  background-color: var(--colorSecondary);
  background-color: #a1adb7;
  background-color: #d4dde5;
  background: transparent;
}
.cta > .accent:hover {
  color: var(--foreground);
}
.cta > .raised {
  color: #ffffff;
  text-decoration: none;
  background-color: var(--outlineColor);
  border: 1px solid var(--outlineColor);
}
.cta > a:hover,
.cta > a:active,
.cta > button:hover,
.cta > button:active {
  /* background-color: #3d7f9f; */
  transition: all 0.5s ease-in-out;
}
.cta > .accent:hover {
}
.cta > .flat {
  background: var(--background);
  border: 1px solid var(--outlineColor);
  color: var(--outlineColor);
  text-align: center;
  text-decoration: none;
}
.cta > .flat:hover,
.cta > .flat:active {
  color: var(--foreground);
  background-color: var(--outlineColor);
}
.cta > .raised:hover {
  background-color: #ffffff;
  color: var(--outlineColor);
  border: 1px solid var(--outlineColor);
}

.cta > button {
  border: 1px solid grey;
  cursor: pointer;
}

.cta > button:disabled {
  cursor: not-allowed;
}

.cta > .cornered {
  background: transparent;
  border-radius: 10rem;
  border: 1px solid green;
  color: var(--colorSecondary);
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
}
.cta > .cornered:hover {
  background-color: var(--outlineColor);
  border: 1px solid var(--outlineColor);
  color: var(--foreground);
}

.cta > .plain {
  background: transparent;
  border: 1px solid var(--outlineColor);
  color: inherit;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
}
.cta > .plain:hover,
.cta > .plain:active {
  color: var(--foreground);
  background-color: var(--outlineColor);
}
/* just transparent */
.cta > .transparent {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  z-index: 1;
  border: 1px solid var(--outlineColor);
}

.cta > .transparent:focus {
  outline: none;
}

.cta > .transparent::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--foreground);
  height: 100%;
  z-index: -1;
  transition: all 0.5s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.cta > .transparent:hover::after,
.cta > .transparent:focus::after {
  right: 0;
  background: var(--outlineColor);
}
/* underlined */
.cta > .underlined {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  border-bottom: 2px solid var(--outlineColor);
  padding: 0.2rem 1rem 0rem 0.5rem;
}

.cta > .underlined:focus {
  outline: none;
}

.cta > .underlined::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--foreground);
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.cta > .underlined:hover::after,
.cta > .underlined:focus::after {
  right: 0;
  background: var(--outlineColor);
}
