.footerDiv {
  /* background-color: #314150;
  background-color: var(--footerBackgroundColor); */
  background: var(--footerBackground);

  line-height: 1.8;
  border-top: 1px solid rgba(34, 33, 33, 0.564);
}
.footerDiv > p {
  color: var(--footerColor);
  margin-left: 7%;
  margin-bottom: 2rem;
}
.footerQuickLinksTop {
  /* background-color: #314150; */
  /* background-color: var(--footerBackgroundColor); */
  color: var(--colorSecondary);
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% 7%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.quickLinksContents {
  display: flex;
  flex-grow: 1;
  gap: 3rem;
}
.quickLinkSections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* font-size: 1.2rem; */
  min-width: 200px;
  position: relative;
}
.quickLinkSections > h3 {
  border: 1px solid var(--outlineColor);
  padding: 1rem;
  color: var(--footerColor);
  width: fit-content;
  font-size: x-large;
}
.quickLinkSections > h4::before {
  /* margin-right: 1rem; */
  /* padding-right: -2rem; */
  /* left: 0.5rem; */
  margin-left: 0rem;
  margin-top: 2.2rem;
  content: "";
  height: 5px;
  width: 100px;
  background-color: var(--outlineColor);
  /* margin-top: 2rem; */
  position: absolute;
}
.quickLinkSections > ul > li {
  list-style: none;
}
.quickLinkSections > ul > li > a {
  /* font-size: 0.8rem; */
}
.quickLinkSections > ul > li > a:hover,
.quickLinkSections > ul > li > a:active {
  color: var(--outlineColor);
}

.socialMenuLinks {
  display: flex;
  gap: 1rem;
  height: fit-content;
  width: fit-content;
  align-items: center;
  padding-top: 0.5rem;
}
.socialMenuLinks > a > li {
  list-style: none;
  cursor: pointer;
  border: none;
  text-align: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem 0.5rem;
  transition: all 1s ease;
  /* padding-top: 0.5rem; */
}

.socialMenuLinks > a > li:hover,
.socialMenuLinks > a > li:active {
  background: transparent;
  color: var(--footerColor);
  transition: all 1s ease;
  box-shadow: 1px 5px 20px;
  border-radius: 2rem;
}
@media (max-width: 800px) {
  .footerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerQuickLinksTop {
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    padding: 2rem 2rem;
  }
  .quickLinksContents {
    gap: 2rem;
    flex-wrap: wrap;
  }
  .footerDiv > p {
    margin-left: -2rem;
  }
  .fastlinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
.subFooter {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.6rem;
  background-color: rgb(55 65 84/1);
  color: rgb(205 213 224/0.5);
}
.subFooter > section {
  display: flex;
  /* font-size: 0.6rem; */
}
@media (max-width: 800px) {
  .subFooter {
    gap: 0.5;
    font-size: smaller;
    /* flex-direction: column; */
  }
}

.contactUsSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 250px;
}
.contactUsSection > li {
  /* font-size: 0.8rem; */
}
.contactUsSection > li > span {
  font-weight: bold;
}

.logosection {
  /* background-color: var(--foreground); */
  height: fit-content;
  width: fit-content;
  transition: all 0.5s ease-in-out;
  /* border-radius: 50%; */
  padding: 0rem 0.2rem;
  top: 0;
  left: 0;
  font-size: x-large;
  font-family: var(--logo-font);
  font-weight: 900;
  letter-spacing: 0.3rem;
}
