.moreOnGabrielegwu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4% 7%;
  width: 100%;
  min-height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 800px) {
  .moreOnGabrielegwu {
    width: 100%;
    padding: 4rem 2rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
@media (min-width: 800px) {
  .header > p {
    max-width: 30rem;
    margin: 0 auto;
  }
}
.cta {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}
@media (max-width: 1200px) {
  .cta {
    gap: 4rem;
  }
}
.cta > li {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  list-style: none;
}

@media (max-width: 400px) {
  .cta > li {
    padding-right: 2rem;
  }
}

.churchImage {
  position: relative;
  width: 100%;
  height: 15rem;
  z-index: -5;
}
.churchImage > img {
  object-fit: cover;
  opacity: 0.8;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contents > h1 {
  /* color: #0b4c6c; */
  color: #1d3557;
  font-weight: bolder;
  font-size: 3rem;
}
.donate {
  background-color: aquamarine;
  background-color: none;
  height: 15rem;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid gray;
  background-image: url("/church2.jpeg");
  background-size: cover;
  background-position: center;
  font-size: smaller;
}
.innerDonate {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: #1d3557;
  color: #ffffff;
  gap: 1rem;
  margin: 0 auto;
  width: 90%;
  height: 90%;
}
.outlet {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 800px) {
  .donate,
  .churchImage {
    height: 20rem;
  }
  .innerDonate {
    width: 50%;
    height: 70%;
  }
  .outlet {
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-between;
    align-content: space-between;
  }
}
