.introSection {
  position: relative;
  padding: 0px 0px;
  background: #f2f5f7;
  text-align: center;
  overflow: hidden;
  padding: 4rem 2rem;
}
.autoContainer {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.contentBox {
  position: relative;
  padding: 40px 60px 40px 40px;
  color: var(--foreground);
  z-index: 2;
  text-align: center;
  background-color: var(--colorSecondary);
}
.contentBox > h2 {
  color: var(--foreground);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.contentBox > p {
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .contentBox {
    padding: 2rem 1.5rem;
  }
}
