.skillsPage {
  background-color: var(--background);
  color: var(--foreground);
  padding: var(--paddingD);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.introduction {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 800px;
  line-height: 1.5;
}

.skillsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skillsSection {
  background-color: var(--projectCard);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--outlineColor);
  transition: transform 0.3s, border-color 0.3s;
}

.skillsSection:hover {
  transform: translateY(-5px);
  border-color: var(--highlights);
}

.sectionDescription {
  font-size: 1rem;
  color: var(--foreground);
  margin-bottom: 1rem;
}

.sectionTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.skillsList {
  list-style: none;
  font-size: 1.2rem;
}

.skillItem {
  margin-bottom: 0.8rem;
}

@media (max-width: 800px) {
  .skillsPage {
    padding: var(--paddingM);
  }

  .skillsContainer {
    gap: 1.5rem;
  }

  .skillsList {
    font-size: 1rem;
  }

  .sectionDescription {
    font-size: 0.9rem;
  }
}
