.resumePage {
  background-color: var(--background);
  color: var(--foreground);
  padding: var(--paddingD);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.introduction {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 800px;
  line-height: 1.5;
}

.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  background-color: var(--projectCard);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--outlineColor);
  transition: transform 0.3s, border-color 0.3s;
}

.section:hover {
  /* transform: scale(1.05); */
  border-color: var(--outlineColor);
  transform: translateY(-5px);
  border-color: var(--highlight);
}

.sectionTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sectionDescription {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.link {
  font-weight: bold;
  color: var(--outlineColor);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--primary);
}
